* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ari para gayon ni sya nga mag center ang content*/
body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* ari naman sa heading or h2  */
.registerform h2 {
    margin-bottom: 20px;
    color: black;
}
/* ari naman sa registration box  */
.registerform {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
}
/*ari naman sa mga inputs tong username to confirm password*/
.registerform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
}
/* ari sa registration form */
.registerform form {
    display: flex;
    flex-direction: column;
}
/* para gyapon ni sya log in button */
.registerform button {
    width: 100%;
    padding: 10px;
    background: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* ari naman para sa login link */
.registerform p {
    margin-top: 15px;
    font-size: 14px;
}
/*ari naman para sa text sa button*/
.registerform a {
    color: dodgerblue;
    text-decoration: none;
    font-weight: bold;
}
.registerform button:hover {
    background: darkgreen;
}
/*ari naman para text pero diko bal an kung nga gi butang ko ni basta para sya sa text*/
.registerform a:hover {
    text-decoration: none;
}