*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    justify-content: space-around;
    border-radius: 15px;
}



body{
    background-color:#cecccc;
    color:#333;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.nav1{
    background-color: blue;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}
.nav2 a:hover{
    color: skyblue;
   
}

.nav2 a{
    color:white;
    text-decoration:none;
    margin-left:20px;

}


section{
    padding:40px;
}
#Home{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:skyblue;
}

.profile-img img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:3px solid #004080;
}

.profile-p h1{
    color: rgb(34, 34, 176);
    margin:10px 0;
}
button{
    margin-top:15px;
    padding:10px 15px;
    background-color:#004080;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 8px;
}

button:hover{
    background-color:#cecccc;
}


#About{
    background-color:#cecccc;
}

#About h1{
    margin-bottom:15px;
}

#About p{
    margin-bottom:10px;
}

.Skill1,
.Skill2,
.Skill3,
.Skill4,
.Skill5 {
    width:30%;
    background-color: gray;
    border:1px solid gray;
    padding:15px;
    margin-bottom:20px;
    text-align:center;
    border-radius: 8px;
    border:shad;
    justify-content: space-between;
    text-wrap: wrap;
    display: inline-table;

    
}

#Project{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

}

.Project-card1,
.Project-card2,
.Project-card3{
    width:30%;
    background-color: gray;
    border:1px solid gray;
    padding:15px;
    margin-bottom:20px;
    text-align:center;
    border-radius: 8px;
    border:shad;
}

#Contact{
    background-color:gray;
}

#Contact a{
    text-decoration:none;
    color:#004080;
}

#Contact a:hover{
    text-decoration:underline;
}

footer{
    background-color:#a7abaf;
    color: white;
    text-align:center;
    padding:15px;
}

.dark-mode{
    background-color:#222;
    color:white;
}

.dark-mode .nav1,
.dark-mode footer{
    background-color:#222;
}
.dark-mode #Home,
.dark-mode #About,
.dark-mode #Contact,
.dark-mode .Project-card1,
.dark-mode .Project-card2,
.dark-mode .Project-card3{
    background-color:#b1b1b1;
    color: white;
}

.dark-mode a{
    color:#fbfbf8;
}
@media (max-width:768px){
    .nav1{
        flex-direction:column;
    }
    .nav2{
        margin-top:10px;
    }

    .nav2 a{
        display:block;
        margin:8px 0;
    }
    #Home{
        flex-direction:column;
        text-align:center;
    }
    .Project-card1,
    .Project-card2,
    .Project-card3{
        width:100%;
        color: white;
        background-color: white;
    }
    }